<!-- PROJECT DASHBOARD -->
<div style="margin-left: 250px; margin-top: 10px;" class="list-area-animation"
     ng-class="{'list-area-expanded':!projectboard.detailsVisible}">

    <div class="list-wrapper">
        <ul class="list my-repeat-animation"
            <h2 style="color:white; text-align: center;" class="status"><strong>Project Dashboard:</strong></h2><br><br>
            <!--
            <li userproject
                ng-repeat="project in projectboard.projects | filter: {status:status.name}"
                drag-container="project" mime-type="application/x-nysu-status"
                drop-container="" accepts="['application/x-nysu-status']"
                class="project my-repeat-animation"
                ng-click="projectboard.setCurrentProject(project)">

                <div drop-target="top" on-drag-enter="projectboard.insertAdjacent(project, data, true)" on-drop="projectboard.finalizeDrop(data)"></div>
                <div drop-target="bottom" on-drag-enter="projectboard.insertAdjacent(project, data, false)" on-drop="projectboard.finalizeDrop(data)"></div>

                <article>
                    <div>
                        <button type="button" class="close" ng-click="userProject.deleteProject(project.id)">
                            ×
                        </button>
                        <p class="title">{{project.title}}</p>
                    </div>
                    <div class="type-bar {{project.type}}"></div>
                    <div>
                        <p>{{project.description}}</p>
                    </div>
                </article>
            </li> -->
            <li style="color:black; margin-bottom: 10px;"
                userproject
                ng-repeat="project in projectboard.projects | filter: orderBy: 'createdAt':true"
                drag-container="project" mime-type="application/x-nysu-status"
                drop-container="" accepts="['application/x-nysu-status']"
                class="project my-repeat-animation"
                ng-click="projectboard.setCurrentProject(project)">

                <!-- <div drop-target="top" on-drag-enter="projectboard.insertAdjacent(project, data, true)" on-drop="projectboard.finalizeDrop(data)"></div>
                <div drop-target="bottom" on-drag-enter="projectboard.insertAdjacent(project, data, false)" on-drop="projectboard.finalizeDrop(data)"></div> -->

                <article style="padding: 5px; min-height: 150px;">
                    <div>
                      <button type="button" class="close" ng-click="userProject.deleteProject(project.id)">×</button>
                    </div>
                    <div>
                      <p>
                        {{::project.requestorName}}<br><b>is a</b>
                        {{::project.requestorRole}}<br><b>looking for a</b>
                        {{::project.roleNeeded}}<br><b>for help with</b>
                        {{::project.description}}<br><b></b>Email:
                        <a href="mailto:{{::project.contact}}">{{::project.contact}}</a>!
                      </p>
                      <button type="button" class="btn btn-primary btn-sm">Join</button>
                      <button type="button" class="btn btn-primary btn-sm">View</button>

                    </div>
                </article>
            </li>
            <!-- <div
                class="emptystatus"
                drop-container="" accepts="['application/x-nysu-status']"
                on-drop="projectboard.finalizeDrop(data)"
                on-drag-enter="projectboard.changeStatus(data, status)"
                ng-if="projectboard.isEmptyStatus(status)">
            </div> -->
        </ul>
    </div>
</div>


<!-- Project DETAILS -->
<div class="details details-animation"
     ng-class="{'details-visible':projectboard.detailsVisible}">
    <div class="details-nav">

    </div>

    <div ng-if="projectboard.detailsVisible" class="my-fade-animation">
        <h3>Project Request</h3>

        <form name="projectboard.detailsForm" novalidate="">
          <div class="form-group">
              <label class="control-label">*Requestor</label>

              <div class="controls">
                  <select ng-model="projectboard.editedProject.requestor" class="form-control"
                      name="inputReporter" ng-required="true" ng-options="user.id as user.name for user in projectboard.users">
                      <option value="">Please select...</option>
                  </select>
                  <div ng-class="{'alert alert-error alert-warning': projectboard.detailsForm.inputReporter.$invalid}"
                       ng-messages="projectboard.detailsForm.inputReporter.$error"
                       ng-if="projectboard.showMessages('inputReporter')">

                    <div ng-message="required">
                      <small>Required!</small>
                    </div>
                  </div>
              </div>
          </div>
            <div class="form-group">
                <div class="controls">
                    <label class="control-label" for="yourRole">*Your Role</label>

                    <div class="controls">
                        <select id="yourRole" name="yourRole" class="form-control" ng-model="projectboard.editedProject.requestorRole" ng-options="l.name as l.name for l in projectboard.roleTypes" ng-required="true">
                            <option value="">Your role</option>
                        </select>

                        <div
                          ng-class="{'alert alert-error alert-warning': projectboard.detailsForm.yourRole.$invalid}"
                          ng-messages="projectboard.detailsForm.yourRole.$error"
                          ng-if="projectboard.showMessages('yourRole')">

                          <div ng-message="required">
                            <small>Required!</small>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputServiceNeed">*What type of service you need?</label>

                <div class="controls">
                    <select id="inputServiceNeed" name="inputServiceNeed" class="form-control" ng-model="projectboard.editedProject.roleNeeded" ng-options="l.name as l.name for l in projectboard.roleTypes" ng-required="true">
                        <option value="">Select Service</option>
                    </select>

                    <div
                      ng-class="{'alert alert-error alert-warning': projectboard.detailsForm.inputServiceNeed.$invalid}"
                      ng-messages="projectboard.detailsForm.inputServiceNeed.$error"
                      ng-if="projectboard.showMessages('inputServiceNeed')">

                      <div ng-message="required">
                        <small>Required!</small>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDescription">Description</label>

                <div class="controls">
                    <textarea id="inputDescription" name="inputDescription" class="form-control" placeholder="Description" rows="3" ng-model="projectboard.editedProject.description"></textarea>
                </div>
            </div>

            <!-- <div class="form-group">
                <label class="control-label" for="inputContact">*Email</label>
                <input class="form-control" type="email" id="inputContact" name="inputContact"
                       placeholder="Your email address" ng-model="projectboard.editedProject.contact"
                       ng-required="true">

                <div class="alert alert-warning"
                     ng-messages="projectboard.detailsForm.inputContact.$error"
                     ng-if="projectboard.showMessages('inputContact')">

                    <div ng-message="required">
                        <small>Required!</small>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <label class="control-label">*Assignee</label>

                <div class="controls">
                    <select ng-model="projectboard.editedProject.assignee" class="form-control"
                        name="inputAssignee" ng-required="false" ng-options="user.id as user.name for user in projectboard.users">
                        <option value="">Please select...</option>
                    </select>

                    <div
                      ng-class="{'alert alert-error alert-warning': projectboard.detailsForm.inputAssignee.$invalid}"
                      ng-messages="projectboard.detailsForm.inputAssignee.$error"
                      ng-if="projectboard.showMessages('inputAssignee')">

                      <div ng-message="required">
                        <small>Required!</small>
                      </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div ng-if="projectboard.currentProject">
            <button class="btn btn-default" ng-click="projectboard.updateCancel()">
                Cancel
            </button>
            <button class="btn pull-right btn-default"
                    ng-disabled="projectboard.detailsForm.$invalid"
                    ng-click="projectboard.updateProject()">Update</button>
        </div>
        <div ng-if="!projectboard.currentProject">
            <button class="btn pull-right btn-default"
                    ng-disabled="projectboard.detailsForm.$invalid"
                    ng-click="projectboard.createProject()">New Project</button>
        </div>
    </div>
</div>
